@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.cuisine-tag {
  padding: 2px 8px;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.cuisine-mexican { background-color: #FFA07A; color: #000; }
.cuisine-chinese { background-color: #98FB98; color: #000; }
.cuisine-fusion { background-color: #DDA0DD; color: #000; }
.cuisine-american { background-color: #87CEFA; color: #000; }
.cuisine-mediterranean { background-color: #F0E68C; color: #000; }
.cuisine-japanese { background-color: #FFB6C1; color: #000; }
.cuisine-french { background-color: #B0E0E6; color: #000; }
.cuisine-vietnamese { background-color: #20B2AA; color: #fff; }
.cuisine-vegan { background-color: #90EE90; color: #000; }
.cuisine-italian { background-color: #F08080; color: #000; }
.cuisine-middle-eastern { background-color: #D2B48C; color: #000; }
.cuisine-chinese-american { background-color: #FFA500; color: #000; }
.cuisine-bakery { background-color: #DEB887; color: #000; }
.cuisine-american-fusion { background-color: #FF69B4; color: #000; }


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}